body {
  background-image: url("../images/bg-desktop.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-color: var(--second-color);
}

main {
  width: 50%;
}
footer {
  width: 80%;
  margin: 5rem auto;
  justify-content: center;
}
footer img {
  margin-right: 1rem;
}
